@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Caprasimo&display=swap');

/* loader css */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f9fb;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1111;
}
.loader img{
    width: 70px;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    border: 15px solid #dddddddd;
    border-top-color: #00439c;
    border-radius: 50%;
    animation: loading 0.95s ease infinite;
}
@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}








.heading{
    margin: 2rem 0;
    text-align: center;
    font-size: clamp(1.5625rem, 1.3463rem + 0.9609vw, 2.5rem);
    color: #575757;
    font-family: 'Belanosima', sans-serif;
}

.content{
    padding: 2% 0;
    margin-bottom: 4%;
}
.un-content{
    background: aliceblue;
}
.navbar-brand{
    font-family: 'Caprasimo', cursive;
    text-transform: uppercase;
    gap: .5rem;
}
.hero{
    margin-top: -4rem;
}
#myVideo{
    width: 100%;
    margin-top: -10%;
}
#un-vid{
width: 100%;
}
.navbar{
    background-color: #082449 !important;
}
.navbar a{
    color: rgb(196, 196, 196) !important;
    text-decoration: none;
}
.navbar a:hover{
    color: white !important;
}
.navbar .container .fa,.navbar .container .fas{
    color: rgb(196, 196, 196) !important;
}
.navbar .container .fa:hover,.navbar .container .fas:hover{
    color: white !important;
}
.brand{
    max-width: 50px;
}

/* countdown css */
.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.time {
    display: grid;
    gap: 5px;
    color: white;
}
.t-head{
    margin-bottom: 2%;
    background: rgb(248 118 58);
    padding: 13px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.t-nmbr{
    background: #0e3739;
    padding: 13px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.time h5 {
    font-size: clamp(1.125rem, 1.0241rem + 0.4484vw, 1.5625rem);
    margin: 2px;
    font-weight: bold;
}
.time h2{
    font-size: clamp(1.5625rem, 1.4184rem + 0.6406vw, 2.1875rem);
    margin: 2px;
    font-weight: bold;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.list button{
    font-size: 18px;
    color: #ebebeb;
    background-color: #006c41;
    transition: .5s ease-in;
    text-transform:inherit ;
}
.list button:hover{
    color: white;
    background-color: #003d25;
}



@media screen and (max-width:767px){
    .brand{
        max-width: 55px;
    }
    #myVideo{
        margin-top: 2%;
    }
    .heading{
        margin: 1rem 0;
    }
    .countdown-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 2rem;
        margin: 0 4%;
    }
    .time {
        display: grid;
        gap: 1px;
        color: white;
    }
    .list{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .list buton{
        font-size: 15px;
    }
}
@media screen and (max-width:575px){
    video{
        margin-top: 3%;
    }
    .content{
        padding-bottom: 5%;
        margin-bottom: 6%;
    }
}