th,td{
    white-space: nowrap;
}
.rewards-tbl th{
    vertical-align: bottom;
    background: #163b5b;
    font-size: 16px;
    color: white;
}
.rewards-tbl tr td{
    text-align: center;
}
.rewards-tbl tr td:nth-child(1){
    text-align: left;
}
.player-details th:nth-child(1){
    color: white;
    background: #51bd9a;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
.player-details tbody tr:nth-child(1){
    background: #163b5b;
    color: white;
    font-weight: bold;
}
tbody tr{
    font-weight: 500;
}
tbody tr:nth-child(even){
    background: #d2eaff8a;
}
.tbl-container{
    height: 400px;
    overflow-y: scroll;
}

@media screen and (max-width:767px){
    .tbl-container{
        height: 600px;
        overflow-y: scroll;
    }
}